.from-bg {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgb(87, 83, 203) 0%,
    rgb(85, 80, 229) 50%,
    rgb(131, 14, 209) 100%
  );
}
.register-block {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-form {
  width: 100%;
  padding: 20px;
  border-radius: 2%;
  /* margin-right: -47%; */
}
.sumbmit-btn {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgb(87, 83, 203) 0%,
    rgb(85, 80, 229) 50%,
    rgb(131, 14, 209) 100%
  );
  color: #fff;
}
.buttons {
  margin: 10px 0;
}
